l10n_be_fiscal_full/static/schema/belcotax.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="declaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="line" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="partner" type="xs:string" use="required"/>
            <xs:attribute name="vat" type="xs:string" use="required"/>
            <xs:attribute name="address" type="xs:string" use="required"/>
            <xs:attribute name="amount" type="xs:decimal" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
